$primary-color: white;
$secondary-color: black;
$overlay-color: rgba(0, 0, 0, 0.6);
$overlay-active: rgba(0, 0, 0, 0.8);
$transition-value: 1s;
$blur-value: blur(10px);
$error-msg-color: rgba(109, 109, 109, 0.815);